body{
	background-color: whitesmoke;
	background-image: url(BG1.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 100%;
	font-family: "Garamond", serif;
	color: rgb(55, 20, 7);
	line-height: 1.5;
}

@media(max-width: 1200px) {
	body{
		background-size:1200px;
	}
}

div{
	/*border: solid 1px black;*/
}

#content{
	position: absolute;
	left:8%;
	top: 50px;
	text-align: center;
	margin:0;
	padding-top:; 0;
	padding-left: 0%;
	padding-right: 0%;
	padding-bottom: 5%;
	min-height: 200px;
	width: 80%;
	background-color: none;
	border-radius: 1px;
}

#name, #links{
	margin-bottom: 10px;
	margin-top:30px;
	align-content: left;
	text-align: left;
	align-content: left;
	border-radius: 2px;
}

.link{
	display:inline-block;
	padding-top:0px;
	padding-bottom: 0px;
	width: 100%;
	margin:0px;
	color: rgb(60, 80, 85);
}

a:link {
  	text-decoration: none;
	color: rgb(55, 20, 7);
}

a:visited {
 	color: rgb(55, 20, 7);
}

a:hover{
	color: rgb(100, 155, 200);
}

#head{
	/*position:relative;*/
	vertical-align: top;
	display: inline-block;
	padding:1%;
	max-width:18%;
	min-width: 150px;
	align-content: center;
}

#stuff{
	/*position:relative;*/
	text-align:left;
	vertical-align: top;
	display: inline-block;
	padding: 2%;
	width:calc(88% - 150px);
}

@media(max-width: 600px){
	#head{
		display: block;
		max-width:100%;
	}
	#stuff{
		display: block;
		width: 100%;
	}

	.link{
		width: 100px;
	}
}

@media(max-width: 530px){
	.link{
		width: 100%;
	}
}

img{
	max-width:100%;
	height: auto;
	position:relative;

}

#boxes{
	width:100%;
	height:100%;
	padding:0;
	text-align: center;
}

.box{
	position:relative;
	text-align: center;
	display:inline-block;
	background-color: none;
	width: 140px;
	padding:5px;
	margin:5px;
	overflow-wrap: break-word;
	vertical-align:top;
}

.box a{
	font-style: italic;
	color: #11a;
}